<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Holy Cow!</h1>
    <p>Somebody did something you (hopefully) care about!  Here are the details</p>

    <h2><%= @subject %></h2>
    <pre>
      <% @things.each do |thing| %>
        <%= thing.pretty_inspect %>
      <% end %>
    </pre>
  </body>
</html>